html {box-sizing: border box;}
* , *: after, *: before {box-sizing: inherit;}     
.octodex {
	margin: 0 auto;
	display:flex;
}
.octocat > a >img {
border-radius: 3px;
height: 400px;
width: 400px;
border:1px solid #ccc;
}
span.image-number:before {
	content:"#";

}
li {
	list-style-type: none;
}
span.image-number {
	font-family: Helvetica;
	font-weight: bold;
	color: #ccc
}
div .image-caption > span{
	float: left;
}